source/WebView/new4.xml

<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. 
-->
<xs:schema xmlns:tns="http://nis.tm.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://nis.tm.com/">
<xs:element name="checkMSANStatus" type="tns:checkMSANStatus"/>
<xs:element name="checkMSANStatusResponse" type="tns:checkMSANStatusResponse"/>
<xs:element name="createCableSheath" type="tns:createCableSheath"/>
<xs:element name="createCableSheathResponse" type="tns:createCableSheathResponse"/>
<xs:element name="createCard" type="tns:createCard"/>
<xs:element name="createCardResponse" type="tns:createCardResponse"/>
<xs:element name="createFrameContainers" type="tns:createFrameContainers"/>
<xs:element name="createFrameContainersResponse" type="tns:createFrameContainersResponse"/>
<xs:element name="createFrameUnits" type="tns:createFrameUnits"/>
<xs:element name="createFrameUnitsResponse" type="tns:createFrameUnitsResponse"/>
<xs:element name="createNetworkElement" type="tns:createNetworkElement"/>
<xs:element name="createNetworkElementResponse" type="tns:createNetworkElementResponse"/>
<xs:element name="createServiceBoundary" type="tns:createServiceBoundary"/>
<xs:element name="createServiceBoundaryResponse" type="tns:createServiceBoundaryResponse"/>
<xs:element name="dataMatchingQuery" type="tns:dataMatchingQuery"/>
<xs:element name="dataMatchingQueryResponse" type="tns:dataMatchingQueryResponse"/>
<xs:element name="dataMatchingUpdate" type="tns:dataMatchingUpdate"/>
<xs:element name="dataMatchingUpdateResponse" type="tns:dataMatchingUpdateResponse"/>
<xs:element name="updateDPAdresses" type="tns:updateDPAdresses"/>
<xs:element name="updateDPAdressesResponse" type="tns:updateDPAdressesResponse"/>
<xs:element name="updateDPDistanceAttributes" type="tns:updateDPDistanceAttributes"/>
<xs:element name="updateDPDistanceAttributesResponse" type="tns:updateDPDistanceAttributesResponse"/>
<xs:complexType name="dataMatchingUpdate">...</xs:complexType>
<xs:complexType name="dataMatchingUpdateResponse">
<xs:sequence>...</xs:sequence>
</xs:complexType>
<xs:complexType name="commonResponse">...</xs:complexType>
<xs:complexType name="checkMSANStatus">...</xs:complexType>
<xs:complexType name="checkMSANStatusResponse">...</xs:complexType>
<xs:complexType name="checkMsanStatusReply">
<xs:complexContent>
<xs:extension base="tns:commonResponse">
<xs:sequence>
<xs:element name="msanStatus" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="createCard">
<xs:sequence>
<xs:element name="equpId" type="xs:string" minOccurs="0"/>
<xs:element name="cardSlot" type="xs:string" minOccurs="0"/>
<xs:element name="cardName" type="xs:string" minOccurs="0"/>
<xs:element name="cardModel" type="xs:string" minOccurs="0"/>
<xs:element name="cardStatus" type="xs:string" minOccurs="0"/>
<xs:element name="cardSerial" type="xs:string" minOccurs="0"/>
<xs:element name="cardCountPort" type="xs:decimal" minOccurs="0"/>
<xs:element name="portStartNum" type="xs:string" minOccurs="0"/>
<xs:element name="g3e_fid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCardResponse">
<xs:sequence>
<xs:element name="return" type="tns:createCardReply" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCardReply">
<xs:complexContent>
<xs:extension base="tns:commonResponse">
<xs:sequence>
<xs:element name="cardId" type="xs:string" minOccurs="0"/>
<xs:element name="g3eFid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="createFrameUnits">
<xs:sequence>
<xs:element name="fracId" type="xs:decimal" minOccurs="0"/>
<xs:element name="frauPosition" type="xs:string" minOccurs="0"/>
<xs:element name="frauName" type="xs:string" minOccurs="0"/>
<xs:element name="frauDistance" type="xs:decimal" minOccurs="0"/>
<xs:element name="fuptManrAbbreaviation" type="xs:string" minOccurs="0"/>
<xs:element name="terminationType" type="xs:string" minOccurs="0"/>
<xs:element name="productType" type="xs:string" minOccurs="0"/>
<xs:element name="countPair" type="xs:decimal" minOccurs="0"/>
<xs:element name="g3e_fid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createFrameUnitsResponse">
<xs:sequence>
<xs:element name="return" type="tns:createFUReply" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createFUReply">
<xs:complexContent>
<xs:extension base="tns:commonResponse">
<xs:sequence>
<xs:element name="frauId" type="xs:decimal" minOccurs="0"/>
<xs:element name="g3eFid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="createNetworkElement">
<xs:sequence>
<xs:element name="equpLocnTtname" type="xs:string" minOccurs="0"/>
<xs:element name="equpEqutAbbreviation" type="xs:string" minOccurs="0"/>
<xs:element name="equpIndex" type="xs:string" minOccurs="0"/>
<xs:element name="locnDetail" type="xs:string" minOccurs="0"/>
<xs:element name="areaCode" type="xs:string" minOccurs="0"/>
<xs:element name="areaDescription" type="xs:string" minOccurs="0"/>
<xs:element name="areaAretCode" type="xs:string" minOccurs="0"/>
<xs:element name="areaAreaCode" type="xs:string" minOccurs="0"/>
<xs:element name="equpStatus" type="xs:string" minOccurs="0"/>
<xs:element name="equpManrAbbreviation" type="xs:string" minOccurs="0"/>
<xs:element name="equpEqumModel" type="xs:string" minOccurs="0"/>
<xs:element name="g3e_fid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createNetworkElementResponse">
<xs:sequence>
<xs:element name="return" type="tns:createNEReply" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createNEReply">
<xs:complexContent>
<xs:extension base="tns:commonResponse">
<xs:sequence>
<xs:element name="equp_Id" type="xs:decimal" minOccurs="0"/>
<xs:element name="g3e_Fid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="updateDPAdresses">
<xs:sequence>
<xs:element name="fracId" type="xs:string" minOccurs="0"/>
<xs:element name="g3e_fid" type="xs:string" minOccurs="0"/>
<xs:element name="dpLocationDetail" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateDPAdressesResponse">
<xs:sequence>
<xs:element name="return" type="tns:commonResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCableSheath">
<xs:sequence>
<xs:element name="cabsName" type="xs:string" minOccurs="0"/>
<xs:element name="cabsCastType" type="xs:string" minOccurs="0"/>
<xs:element name="cabsStatus" type="xs:string" minOccurs="0"/>
<xs:element name="csptProductName" type="xs:string" minOccurs="0"/>
<xs:element name="minNumber" type="xs:decimal" minOccurs="0"/>
<xs:element name="maxNumber" type="xs:decimal" minOccurs="0"/>
<xs:element name="pairCount" type="xs:decimal" minOccurs="0"/>
<xs:element name="locationA" type="xs:string" minOccurs="0"/>
<xs:element name="locationB" type="xs:string" minOccurs="0"/>
<xs:element name="distance" type="xs:decimal" minOccurs="0"/>
<xs:element name="g3e_fid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCableSheathResponse">
<xs:sequence>
<xs:element name="return" type="tns:createCSReply" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCSReply">
<xs:complexContent>
<xs:extension base="tns:commonResponse">
<xs:sequence>
<xs:element name="cabsId" type="xs:decimal" minOccurs="0"/>
<xs:element name="g3eFid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="dataMatchingQuery">
<xs:sequence>
<xs:element name="entityType" type="xs:string" minOccurs="0"/>
<xs:element name="entLocationName" type="xs:string" minOccurs="0"/>
<xs:element name="entFracEqupType" type="xs:string" minOccurs="0"/>
<xs:element name="entIndex" type="xs:string" minOccurs="0"/>
<xs:element name="entNisId" type="xs:string" minOccurs="0"/>
<xs:element name="g3e_fid" type="xs:string" minOccurs="0"/>
<xs:element name="entCabsId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="dataMatchingQueryResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataMatchingQueryReply" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="dataMatchingQueryReply">
<xs:complexContent>
<xs:extension base="tns:commonResponse">
<xs:sequence>
<xs:element name="attributes" type="tns:attribute" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="attribute">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateDPDistanceAttributes">
<xs:sequence>
<xs:element name="equpLocnTtname" type="xs:string" minOccurs="0"/>
<xs:element name="equpEqutAbbreviation" type="xs:string" minOccurs="0"/>
<xs:element name="equpIndex" type="xs:string" minOccurs="0"/>
<xs:element name="distance" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateDPDistanceAttributesResponse">
<xs:sequence>
<xs:element name="return" type="tns:commonResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createServiceBoundary">
<xs:sequence>
<xs:element name="g3e_fid" type="xs:string" minOccurs="0"/>
<xs:element name="frac_id" type="xs:string" minOccurs="0"/>
<xs:element name="field1" type="xs:string" minOccurs="0"/>
<xs:element name="field2" type="xs:string" minOccurs="0"/>
<xs:element name="streetNumber" type="xs:string" minOccurs="0"/>
<xs:element name="streetType" type="xs:string" minOccurs="0"/>
<xs:element name="streetName" type="xs:string" minOccurs="0"/>
<xs:element name="suburb" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="statAbbreviation" type="xs:string" minOccurs="0"/>
<xs:element name="poscCode" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createServiceBoundaryResponse">
<xs:sequence>
<xs:element name="return" type="tns:commonResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createFrameContainers">
<xs:sequence>
<xs:element name="locnTtname" type="xs:string" minOccurs="0"/>
<xs:element name="franName" type="xs:string" minOccurs="0"/>
<xs:element name="index" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="locationDetail" type="xs:string" minOccurs="0"/>
<xs:element name="areaCode" type="xs:string" minOccurs="0"/>
<xs:element name="areaDescription" type="xs:string" minOccurs="0"/>
<xs:element name="areaAreaCode" type="xs:string" minOccurs="0"/>
<xs:element name="areaAretCode" type="xs:string" minOccurs="0"/>
<xs:element name="g3e_fid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createFrameContainersResponse">
<xs:sequence>
<xs:element name="return" type="tns:createFCReply" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="createFCReply">
<xs:complexContent>
<xs:extension base="tns:commonResponse">
<xs:sequence>
<xs:element name="fracId" type="xs:string" minOccurs="0"/>
<xs:element name="g3eFid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
</xs:schema>